<div class="container">

<h4>Transaction Entry</h4>
<br/>
{{diagnostic}}
<form #transactionForm="ngForm">
  <div class='form-group'>
    <label for="desc">Business </label>
    <input type="text" class="form-control" [(ngModel)]="transModel.desc" id="desc" name="desc">
  </div>

  <div class='form-group'>
    <label for="date">Date </label>
    <input type="text" class="form-control" [(ngModel)]="transModel.date" id="date" name="date">
  </div>

  <div class='form-group'>
    <label for="amount">Amount </label>
    <input type="text" class="form-control" [(ngModel)]="transModel.amount" id="amount" name="amount">
  </div>

  <button type="submit" class="btn btn-success">Submit</button>

</form>

</div>